layout {
    tab_template name="ranger-on-the-side" {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        pane split_direction="vertical" {
            pane size="15%" {
				plugin location="zellij:strider"
			}
            children
        }
    }
    ranger-on-the-side name="Editor" split_direction="vertical"  cwd="/home/bm69/git/rtounc_tallernqn_v2.0" {
		pane command="hx" {
			args "."
		}
        pane size="35%" {
			pane command="git commit -am && git push" start_suspended=true 
			pane command="ssh" args="lenovoSvr" start_suspended=true
		}
    }
}

